# Example for `join` feature

map fill 0xFFFFFFFF

area:1 stroke 0xFF00FF00 1
+      fill 0xFFAAFFAA

line:1 stroke 0xFF0000FF 10
+      join miter
+      cap butt

line:1 stroke 0xFFFF00FF 10
+      join round
+      cap butt

point:1 stroke 0xFFFF0000 8

