/*
This style is tested with Adwaita, HighContrast, win32 themes
*/


/* Remove extra spaces */
* {
  padding: 0px;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
}

/* narrow notebook with borders between tab labels */
#panels header tab label{
  padding: 0px 2px;
  border-style: solid;
  border-right-width: 1px;
  font-weight: normal;
  background-color: transparent;
  padding: 1px 3px 3px;
}

/* paned separator minimum size */
#main_paned separator {
  min-width: 4px;
}

/* border above status line */
#status {
  border-top-width: 1px;
  border-top-style: groove;
}